doctype html
html(lang="es")
 head
  title FotoDiego
  meta(charset="utf-8")
  link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
  link(rel="stylesheet", href="/css/app.css")
body
 nav(class="large-padding black white-text")
  ul
    li 
     a(href="/app") Inicio
    li 
     a(href="/app/imagenes/new") Subir imagen
    li 
     a(href="/app/imagenes") Mis Imagenes 
 block contenido